.wrapper {
	padding: 0 18px;
	max-width: 1236px;
	margin: 0 auto;
	overflow: hidden;

	.wrapper {
		padding: 0;
	}

	&--no-padding-until-medium {
		padding: 0;
		@mixin atMedium {
			padding: 0 18px;
		}
	}

	&--no-padding-until-large {
		padding: 0;
		@mixin atLarge {
			padding: 0 18px;
		}
	}

	&--medium {
		max-width: 976px;
	}

	&--narrow {
		max-width: 470px;
	}

	&--b-margin {
		margin-bottom: 1rem;

		@mixin atSmall {
			margin-bottom: 3.875rem;
		}
	}
}
